:root {
    --smaller: .75;
    background: linear-gradient(245.59deg, #4540CF 0%, #37339A 25.53%, #2A2772 75.52%);
}
* {

    padding: 0;
    margin:0;
    box-sizing: border-box;
    font-family: 'Orbitron', sans-serif;
    list-style: none;
    text-decoration: none;
}

header{
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1000;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 33px 9%;
    background: transparent;
}

span{
    color: #EC158E;
}


.navlist{
    display: flex;
}

.navlist a{
    color: white;
    margin-left: 60px;
    font-size: 15px;
    font-weight: 600;
    border-bottom: 2px solid transparent;
    transition: all .55s ease;
}

.navlist a:hover{
    border-bottom: 2px solid white;
}

#menu-icon{
    color: white;
    font-size: 35px;
    z-index: 10001;
    cursor: pointer;
    display: none;
}

.hero{
    height: 100%;
    width: 100%;
    min-height: 100vh;
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2rem;
}

video{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    position: relative;
    margin-bottom: 10%;
    box-shadow: 0 1.5rem 3rem -0.75rem hsl(0, 0%, 0%, 0.25);
    border-radius: 2rem;
}

.hero-img{
    width: 50%;
}



section{
    padding: 0 19%;
}

.hero-text h5{
    font-size: 14px;
    font-weight: 400;
    color: white;
    margin-bottom: 40px;
 }

.hero-text h1{
    font-family: 'Audiowide', cursive;
    font-size: 90px;
    line-height: 1;
    color: white;
    margin: 0 0 45px;
}

.hero-text h4{
    font-size: 18px;
    font-weight: 600;
    color: white;
    margin-bottom: 10px;
}

.hero-text p{

    color: white;
    font-size: 20px;
    line-height: 1.9;
    margin-bottom: 40px;
}

.hero-text a{
    display: inline-block;
    color: white;
    background: #EC158E;
    border: 1px solid transparent;
    padding: 12px 30px;
    line-height: 1.4;
    font-size: 14px;
    font-weight: 500;
    border-radius: 30px;
    text-transform: uppercase;
    transition: all .55s ease;
}

.hero-text a:hover{
    background: transparent;
    border: 1px solid white;
    transform: translateX(8px);
}

.hero-text a.ctaa{
    margin-right:10px ;

}

.hero-text a.ctaa i{
    vertical-align: middle;
    margin-right: 5px;
}

.icons{
    position: absolute;
    top: 50%;
    padding: 0 9%;
    transform: translateY(-50%);
}

.icons i{
    display: block;
    margin: 26px 0;
    font-size: 30px;
    color: white;
    transition: al .50s ease;
}

.icons i:hover{
    color: #EC158E;
    transform: translateY(-5px);
}




.container {
    background: #EC158E;
    font-family: 'Audiowide', cursive;
    color: #333;
    margin: 0 auto;
    text-align: center;
}

h1 {
    color: white;
    font-family: 'Audiowide', cursive;
    font-weight: normal;
    letter-spacing: .125rem;
    text-transform: uppercase;
}

li {
    color: white;
    font-family: 'Audiowide', cursive;
    display: inline-block;
    font-size: 1.5em;
    list-style-type: none;
    padding: 1em;
    text-transform: uppercase;
}

li span {
    color: white;
    font-family: 'Audiowide', cursive;
    display: block;
    font-size: 4.5rem;
}

@media all and (max-width: 768px) {
    h1 {
        font-size: calc(1.5rem * var(--smaller));
    }

    li {
        font-size: calc(1.125rem * var(--smaller));
    }

    li span {
        font-size: calc(3.375rem * var(--smaller));
    }
}











@media (max-width: 1535px){
    header{
        padding: 15px 3%;
        transition: .2s;
    }
    .icons{
        padding: 0 3%;
        transition: .2s;
    }

}
@media (max-width: 1460px) {
    section{
        padding: 0 12%;
        transition: .2s;
    }

}
@media (max-width: 1340px)  {
    .slider-wrapper img{
        width: 100%;
        height: auto;
    }
    .hero-text h1{
        font-size: 75px;
        margin: 0 0 30px;
    }
    .hero-text h5{
        margin-bottom: 25px;
    }
}
@media (max-width: 1195px){
    section{
        padding: 0 3%;
        transition: .2s;
    }
    .hero-text{
        padding-top: 115px;
    }
    .slider-wrapper{
        text-align: center;
    }
    .slider-wrapper img{
        width: 560px;
        height: auto;
    }
    .hero{
        height: 100%;
        gap: 1rem;
        grid-template-columns: 1fr;
    }
    .icons{
        display: none;
    }

}
@media (max-width: 700px){

    .hero-text h1{
        text-align: center;
        width: 700px;
        font-size: 60px;
        margin: 0 0 30px;
    }
    .hero-text p{
        font-size: 10px;
        text-align: center;
        width: 700px;
    }

    #menu-icon{
        display: block;
    }
    .navlist{
        position: absolute;
        top: 100%;
        right: -100%;
        width: 300px;
        height: 40vh;
        background: #4540CF;
        display: none;
        align-items: center;
        flex-direction: column;
        padding: 50px 20px;
        transition: all .55s ease;
    }
    .navlist a{
        display: block;
        margin: 7px 0;
        margin-left: 0;
    }

    .navlist.open{
        right: 0;
        display: flex;
    }

    .hero{
        height: 100%;
        width: 100%;
        min-height: 100vh;
        position: relative;
        display: grid;
        text-align: center;
        align-items: center;
        gap: 2rem;
    }

    video{
        display: none;
    }

    img{
        width: 375px;
        display: flex;
        margin-left: auto;
        margin-right: auto;
        align-items: center;
    }
}



@media (max-width: 425px){

    .hero-text h1{
        text-align: center;
        width: 375px;
        font-size: 60px;
        margin: 0 0 30px;
        margin-left: auto;
        margin-right: auto;
    }
    .hero-text p{
        font-size: 10px;
        text-align: center;
        width: 375px;
        margin-left: auto;
        margin-right: auto;
    }

    #menu-icon{
        display: block;
        padding-right: 10px;
    }
    .navlist{
        position: absolute;
        top: 100%;
        right: -100%;
        width: 300px;
        height: 40vh;
        background: #4540CF;
        display: none;
        align-items: center;
        flex-direction: column;
        padding: 50px 20px;
        transition: all .55s ease;
    }
    .navlist a{
        display: block;
        margin: 7px 0;
        margin-left: 0;
    }

    .navlist.open{
        right: 0;
        display: flex;
    }

    .hero{
        height: 100%;
        width: 100%;
        min-height: 100vh;
        position: relative;
        display: grid;
        text-align: center;
        align-items: center;
        gap: 2rem;
    }

    video{
        display: none;
    }

    img{
        width: 375px;
        display: flex;
        margin-left: auto;
        margin-right: auto;
        align-items: center;
    }
}

@media (max-width: 375px){

    .hero-text h1{
        text-align: center;
        width: 370px;
        font-size: 50px;
        margin: 0 0 30px;
        margin-left: auto;
        margin-right: auto;
    }
    .hero-text p{
        font-size: 10px;
        text-align: center;
        width: 200px;
        margin-left: auto;
        margin-right: auto;
    }

    #menu-icon{
        display: block;
    }
    .navlist{
        position: absolute;
        top: 100%;
        right: -100%;
        width: 300px;
        height: 40vh;
        background: #4540CF;
        display: none;
        align-items: center;
        flex-direction: column;
        padding: 50px 20px;
        transition: all .55s ease;
    }
    .navlist a{
        display: block;
        margin: 7px 0;
        margin-left: 0;
    }

    .navlist.open{
        right: 0;
        display: flex;
    }

    .hero{
        height: 100%;
        width: 100%;
        min-height: 100vh;
        position: relative;
        display: grid;
        text-align: center;
        align-items: center;
        gap: 2rem;
    }
    .hero-text{
        width: 375px;
    }

    video{
        display: none;
    }

    img{
        width: 340px;
        display: flex;
        margin-left: auto;
        margin-right: auto;
        align-items: center;
    }
}



